@font-face {
   font-family: 'GothamSSm-Light';
   font-display: swap;
   src: url('file:///Users/Gabriel/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-10-19_134559/fonts/GothamSSm-Light/font.ttf');
}
