@font-face {
   font-family: 'Aller_Lt';
   font-display: swap;
   src: url('file:///Users/Gabriel/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-10-19_134559/fonts/Aller_Lt/font.ttf');
}
